.MainAppComponent {
  display: flex;
  flex-direction: column;
}

.HeaderBar {
  height: 60px;
  line-height: 60px;
  background-color: #2196f3;
  margin-bottom: 10px;
  color: white;
  font-weight: 600;
  font-size: 1.5rem;
  text-align: left;
  padding-left: 80px;
}

.MainAppRoute {
  margin-left: 80px;
}